<header>
  <nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between">
    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div>
      <h4 class="p-2">CATEGORIES</h4>
    </div>

    <div>
  <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "p-2 m-1 text-light" %>  </div>
  </nav>
<header>