<header>
  <nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between">
    <div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="#navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div>
      <h5>CATEGORIES</h5>
    </div>

    <div>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete, class: "p-2 m-1 text-light" %>  </div>
    </div>
  </nav>
<header>

<div>
<%= render 'categories' %>
<div>

<footer class="footer">
  <div class="footer-btn w-100 text-center">
    <%= link_to "Add a new category", new_group_path %>
  </div>
</footer>
