<header class="header">
  <nav class="container navbar navbar-expand-lg navbar-dark d-flex justify-content-between">
    <div>
        <%= link_to root_path do %>
          <span class="text-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
          </span>
        <% end %>
    </div>
    <div>
        <h5>TRANSACTION</h5>
    </div>
    <div>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
    </div>
  </nav>
</header>
<div class="container card rounded mt-5">
  <div class="container p-4 d-flex justify-content-between">
		<h5 class="fw-bold">Total Amount:</h5>
    <div class="d-flex amount-details">
		<p class="fw-bold">$<%= @group.total_amount.round(2) %></p>
  </div>
</div>
  <div class="divider mb-2"></div>
	  <%= render 'payments/index', locals: { payments: @payments } %>
  </div>

<footer class="footer">
  <div class="footer-btn w-100 text-center container">
    <%= link_to "Add a new transaction", new_payment_path, class: "container" %>
  </div>
</footer>