<header class="header">
  <nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between">
    <div>
        <%= link_to root_path do %>
          <span class="text-light">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
            </svg>
          </span>
        <% end %>
    </div>
    <div>
        <h5>TRANSACTION</h5>
    </div>
  </nav>
</header>
  <div class="p-4 d-flex justify-content-between">
		<p>Total Amount:</p>
		<p class="fw-bold">$<%= @group.total_amount.round(2) %></p>
	</div>
  <div class="divider mb-2"></div>
	  <%= render 'payments/index', locals: { payments: @payments } %>
  </div>
<footer class="footer">
  <div class="footer-btn w-100 text-center">
    <%= link_to "Add a new transaction", new_payment_path %>
  </div>
</footer>