/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Montserrat';
  src: url('Proxima-Nova.otf');
}

body {
  background-color: whitesmoke;
}

h5 {
  font-family: "proxima-nova-bold", sans-serif;
  letter-spacing: 1px;
}

p {
  font-family: "proxima-nova-light", sans-serif;
}

li {
  list-style-type: none;
}

/* Splash screen style */
.title {
  padding: 224px 0;
  font-size: 2.5rem;
  font-family: 'Lemonada', cursive;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #434b54;
  font-weight: 600;
}

/* Header style */

.navbar {
  background-color: #3778c2;
  color: white;
}

.header {
  color: white;
  background-color: #3778c2;
  padding: 3vh 0 1vh 0;
}

.log-btn {
  background: none;
  border: none;
  color: white;
}

.save-btn {
  background: none;
  border: none;
  color: white;
}

svg {
  width: 23px;
  height: 24px;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler svg {
  fill: white;
}

/* Footer style */

.footer {
  position: absolute;
  width: 100%;
  background-color: #5fb523;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 999;
  bottom: 0;
  padding: 10px;
}

.footer-btn {
  border: 2px solid white;
  padding: 5px;
}

.footer-btn a {
  color: white;
  font-size: 19px;
}

/* Category style */

.category-div {
  border: 1px solid white;
  background-color: white;
  width: 100%;
}

.category-img {
  width: 130px;
}

.cd-btn {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-right: 10px;
}

.customized-h5 h5 {
  line-height: 0;
}

/* Form style input */
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #3778c2;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.1);
}

/* Card style */
.card.m-3.rounded,
.card.rounded {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2.5vh;
}

button.btn.btn-primary.cd-btn {
  font-weight: 700;
  text-transform: uppercase;
}

.transaction-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 1vh;
  margin-top: 3vh;
}

p.notice {
  text-align: center;
  padding: 10px;
  color: #5fb523;
  font-weight: 600;
  font-style: italic;
}

.payment-details {
  align-items: center;
  gap: 2px;
}

.payment-details button {
  background: none;
  border: none;
  padding: 0;
}
