/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: whitesmoke;
}

/* Splash screen style */
.title {
  padding: 224px 0;
  font-size: 2.5rem;
  font-family: 'Lemonada', cursive;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #434b54;
}

/* Header style */

.navbar {
  background-color: #3778c2;
  color: white;
}

.header {
  color: white;
  background-color: #3778c2;
  height: 60px;
}

.log-btn {
  background: none;
  border: none;
  color: white;
}

svg {
  width: 23px;
  height: 24px;
}

/* Footer style */

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background-color: #5fb523;
  height: 60px;
  display: flex;
  align-items: center;
}

.footer-btn {
  border: 2px solid white;
  padding: 5px;
  margin: 0 5px;
}

.footer-btn a {
  color: white;
  font-size: 19px;
}
